.gameControls{
  padding: 5px 10px;
  margin-top: 10px;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(248,191,68,1);
  border-radius: 10px;

  font-size: 20px;
  text-align: right;
  color: rgba(248,191,68,1);
  font-weight: bold;

  .control {
    display: inline-block;
    margin: 5px 5px 5px 10px;

    cursor: pointer;

    &.left {
      float: left;
      margin: 5px 10px 5px 5px;
    }

    .controlIcon{
      color: orange;
    }

    .controlLabel{
      margin-left: 5px;
      color: rgba(248,191,68,1);
    }
  }
}