@import "./src/styles/prototype";

.prototype{
  @include prototype;
}

.gameSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  padding-top: 20px;

  .gameCanvas {
    width: calc(100% - 330px);

    .gameHeader{
      padding: 2px 10px 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      background: linear-gradient(45deg,
              rgba(248,191,68,1) 0%,
              rgba(249,206,76,1) 60%,
              rgba(255,255,255,0) 70%,
              rgba(255,255,255,0) 100%);
      text-shadow: 2px 2px 2px orange;
      h1 {
        color: white;
      }
    }
  }
}
