.gamesBlock {
  margin-top: 40px;

  .blockHeader {
    padding: 2px 10px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg,
            rgba(248,191,68,1) 0%,
            rgba(249,206,76,1) 40%,
            rgba(255,255,255,0) 50%,
            rgba(255,255,255,0) 100%);
    text-shadow: 2px 2px 2px orange;

    h2 {
      color: white;
    }
  }

  .slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    //width: 1280px;
    margin-top: 10px;
  }
}